/* Scaffolding */

:root {
    --bg-normal: #FAB2B7;
    --bg-dark: #06313d;
    --heading-color: #226C85;
    --text-color: #222;
    --light-text-color: rgb(107, 44, 44);
    --row-padding: 1.3rem;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 17px;
}

body {
    font-family: "Duplicate Sans", system-ui, sans-serif;
    background-color: var(--bg-normal);
    background-image: url('/images/subscribe-background.png');
    background-size: 180px;
    background-position: right 15px top 15px;
    background-repeat: no-repeat;
    color: var(--text-color);
}

#wrapper {
    max-width: 600px;
    padding-left: var(--row-padding);
    padding-right: var(--row-padding);
    padding-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 801px) {
    html {
        font-size: 22px;
    }
}

h1 {
    color: var(--heading-color);
    font-size: 2.67rem;
    letter-spacing: -0.04rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    line-height: 1.35rem;
}

@media (min-width: 801px) {

    body {
        background-position: right 15px bottom 50%;
        background-size: 225px;
    }

    h1 {
        font-size: 3.1rem;
    }

    p {
        font-size: 0.9rem;
        line-height: 1.35rem;
    }

}

/* Header */

#logo {
    position: relative;
    top: var(--row-padding);
    left: var(--row-padding);
    background-color: #2e7080;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 500px;
    text-decoration: none;
    margin-bottom: 2.3rem;
    transition: background-color 0.3s ease;
}

#logo:hover {
    background-color: #173841;
}

#logo img {
    width: 50px;
    height: auto;
}

@media (min-width: 801px) {
    #logo {
        width: 95px;
        height: 95px;
        margin-bottom: 1rem;
    }
    #logo img {
        width: 70px;
        height: auto;
    }
}

/* Intro text */

#intro {
    margin-bottom: 1.2rem;
}

/* FORM: Generic field styles */

form#subscribe {
    margin-bottom: 2rem;
}

.field {
    display: block;
    margin-bottom: 1.5rem;
}

.field .label {
    font-size: 1rem;
    margin-bottom: 0.3rem;
    display: block;
    font-weight: 500;
    text-transform: lowercase;
}

.field .label em,
.field .footnote {
    display: inline-block;
    margin-left: 0.1rem;
    font-size: 0.7rem;
    font-weight: 400;
    font-style: normal;
    color: var(--light-text-color);
}

input[type="text"],
input[type="email"] {
    display: block;
    width: 100%;
    max-width: 450px;
    font-size: 1.2rem;
    padding: 0.3rem 0.4rem;
    margin-bottom: 0.2rem;
    border-radius: 5px;
    border-color: var(--bg-dark);
    border-width: 2px;
    border-style: solid;
}

.field.checkbox {
    display: flex;
}

.field.checkbox input {
    margin-right: 0.4rem;
}

@media (min-width: 801px) {
    
    .field .label {
        font-size: 0.85rem;
    }

}

/* FORM: Submit buttons */

button.normal,
input[type="submit"] {
    border-radius: 0.35rem;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.25rem 1.2rem;
    background-color: #00a2bb;
    color: white;
    border: none;
    border-top: 2px solid #0dabc4;
    border-bottom: 3px solid #0098af;
    text-shadow: #008599 1px 2px 0px;
    box-shadow: rgba(255, 255, 255, 0) 0 0 2px;
    transition: background-color 0.2s ease, transform 0.2s ease;
    transform: scale(1);
}

button.normal:hover,
input[type="submit"]:hover {
    background-color: #0dabc4;
}

button.normal:active,
input[type="submit"]:active {
    background-color: #0095ac;
    transform: scale(1.02);
}

@media (min-width: 801px) {
    button.normal,
    input[type="submit"] {
        min-width: 180px;
    }
}

/* FORM: Preferred name */

.field[for="preferred-name"] {
    position: relative;
    width: 100%;
    display: inline-flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.field[for="preferred-name"] .curtain {
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-normal);
    transform: scaleY(1);
    transform-origin: bottom center;
    transition-property: transform;
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0, 0, 0, 1);
}

.field[for="preferred-name"][data-active="true"] .curtain {
    transform: scaleY(0);
}

.field[for="preferred-name"] .label,
.field[for="preferred-name"] input,
.field[for="preferred-name"] .input-sizer {
    display: block;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.field[for="preferred-name"] .input-sizer {
    visibility: hidden;
    position: absolute;
    left: -9999px;
}

.field[for="preferred-name"] .prompt {
    margin-right: 0.3rem;
}

.field[for="preferred-name"] input {
    border-radius: 0;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    background-color: transparent;
    color: var(--text-color);
    border-color: var(--light-text-color);
    border-bottom-width: 1px;
    box-sizing: content-box;
    padding: 0;
    padding-left: 1px;
    padding-right: 3px;
    margin-bottom: 6px;
    transition: width 0.3s ease;
}

.field[for="preferred-name"] .footnote {
    flex-basis: 99%;
    flex-shrink: 0;
}

@media (min-width: 801px) {
    
    .field[for="preferred-name"] .footnote {
        font-size: 0.7rem;
    }

    .field[for="preferred-name"] .label,
    .field[for="preferred-name"] input,
    .field[for="preferred-name"] .input-sizer {
        font-size: 0.85rem;
    }

}

/* Status text */

#status {
    transform: scale(0.9);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    background: white;
    padding: 0.4rem 0.6rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 0;
    border-radius: 0.2rem;
    color: #393939;
    max-width: 450px;
    font-weight: 500;
}

#status.info,
#status.subscribing,
#status.success,
#status.error {
    transform: scale(1);
    opacity: 1;
}