/* Duplicate Sans */

@font-face {
   font-family: 'Duplicate Sans';
   src: url('/fonts/duplicate-sans/DuplicateSans-Regular-Web.woff2') format('woff2'),
        url('/fonts/duplicate-sans/DuplicateSans-Regular-Web.woff') format('woff');
   font-weight:  400;
   font-style:   normal;
   font-stretch: normal;
 }
 
 @font-face {
   font-family: 'Duplicate Sans';
   src: url('/fonts/duplicate-sans/DuplicateSans-RegularItalic-Web.woff2') format('woff2'),
        url('/fonts/duplicate-sans/DuplicateSans-RegularItalic-Web.woff') format('woff');
   font-weight:  400;
   font-style:   italic;
   font-stretch: normal;
 }
 
 @font-face {
   font-family: 'Duplicate Sans';
   src: url('/fonts/duplicate-sans/DuplicateSans-Medium-Web.woff2') format('woff2'),
        url('/fonts/duplicate-sans/DuplicateSans-Medium-Web.woff') format('woff');
   font-weight:  500;
   font-style:   normal;
   font-stretch: normal;
 }
 
 @font-face {
   font-family: 'Duplicate Sans';
   src: url('/fonts/duplicate-sans/DuplicateSans-MediumItalic-Web.woff2') format('woff2'),
        url('/fonts/duplicate-sans/DuplicateSans-MediumItalic-Web.woff') format('woff');
   font-weight:  500;
   font-style:   italic;
   font-stretch: normal;
 }
 
 @font-face {
   font-family: 'Duplicate Sans';
   src: url('/fonts/duplicate-sans/DuplicateSans-Bold-Web.woff2') format('woff2'),
        url('/fonts/duplicate-sans/DuplicateSans-Bold-Web.woff') format('woff');
   font-weight:  700;
   font-style:   normal;
   font-stretch: normal;
 }
 
 @font-face {
   font-family: 'Duplicate Sans';
   src: url('/fonts/duplicate-sans/DuplicateSans-BoldItalic-Web.woff2') format('woff2'),
        url('/fonts/duplicate-sans/DuplicateSans-BoldItalic-Web.woff') format('woff');
   font-weight:  700;
   font-style:   italic;
   font-stretch: normal;
 } 